 <!-- Footer starts here -->
 <footer>
    <div class="main-footer">
      <div class="left-foot">
     <ul>
      <li>© 2022 Airbnb,Inc.</li> <li>.Privacy</li><li>.Terms</li><li>.Sitemap</li><li>.Company details</li> <li>.Destinations</li>
    </ul>
    </div>
    <div class="right-foot">
     <p><b><i class="fa-solid fa-globe"></i>&nbsp; English(IN)  &nbsp; ₹ INR  &nbsp;&nbsp; Support & resources &nbsp; </b></p>
  </div>
  </div>
  </footer>
  <!-- Footer ends here -->