<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD </title>

    
 
  </head>
  <body>
    <!-- Header -->
    <header id="header">
      <nav>
        <div class="container">
          <div class="text-center">
    <a href="/" class="nav-name text-dark"><h1 style="color: orangered;font-family: fantasy;">ADMIN - HUB</h1></a>
          </div>
        </div>
      </nav>
    </header>
    <!-- /Header -->
  </body>
</html>
