<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  
</head>

<body>
  <div class="header">
    <div class="logo">
     <a href="/"> <img src="/image/airbnb.png"  alt="airbnb logo" /></a>
    </div>
    <div class="header-middle">
      <ul class="navLink">
        <li><a href="#">Anywhere</a></li>
        <li>|</li>
        <li><a href="#">Any week</a></li>
        <li>|</li>
        <li><a href="#">Add guests</a></li>
        <span><i class="fas fa-search" style="position: relative ; top: 12px; left: 13px;"></i></span> <!-- Changed to fas fa-search for the search icon -->
      </ul>
    </div>
    <div class="header-right">
      <div class="host">
        <span><a href="/host_page">Airbnb your home</a></span>
        <span><a href="#"><i class="fas fa-globe"></i></a></span> <!-- Changed to fas fa-globe for the globe icon -->
      </div>
      <!-- dropdown menu starts -->
      <div class="nav-item dropdown">
        <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span style="margin:10px; color:black"><i class="fas fa-bars" ></i></span>
          <span> <i class="fas fa-user" style="color:black"></i></span> 
        </a>




        <ul class="dropdown-menu">
       
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
         
              <li><a class="dropdown-item" href="/login">LogIn/SignUp</a></li>
          
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/host">Host an Experience</a></li>
                <li><a class="dropdown-item" href="/help">Help Center</a></li>
        </ul>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
